.display-pic-container {
    margin-left: 5vw;
}

.display-pic {
    border-radius: 50%;
}

.header-row {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.name-container {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    margin-left: 5vw;
}

.nav-bar-container {
    justify-content: center;
}